header {
    width: 308px;
    margin: 15px;
}


nav ul {
    background-color: var(--lillaFokus);
    border-radius: 10px;
    padding: 10px;
}


nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 1rem 0 1rem; */
    padding: 10px;
}

nav ul li p {
    color: var(--hvid);
}


nav ul li img {
    width: 20%;

}

.location-Heading{
    color: var(--bgHeading);
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.city-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    color: var(--hvid);
    /* padding: 10px 10px 0 10px; */
}

.threedays {
    display: flex;
    flex-direction: row;
}

.threedays p {
    margin: auto;
}

.last-visit {
    background-color: var(--lillaFokus);
    border-radius: 10px;
    margin: 20px 0 20px 0;
    padding: 10px;
    color: var(--hvid);
}