/* header {
    width: 308px;
    padding: 15px;
    background-color: bisque;
} */



p,
h3 {
    margin: 1em 0 1em 0;
}

nav span input {
    margin: 1em 0 0 0;

}

nav ul {
    background-color: var(--lillaFokus);
    border-radius: 10px;
    padding: 10px;
}


nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

nav ul li p {
    color: var(--hvid);
}


nav ul li img {
    width: 20%;

}

/* --------------------------------------------------------- */

.burger-box {
    width: 308px;
    padding: 15px;
    background-color: bisque;
    border-radius: 10px;
}

.burger-lines {
    display: none;
    cursor: pointer;
}

.burger-lines div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 4px 0px;
    transition: all 0.3s ease;
}



@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden
    }

    .nav-links {
        position: absolute;
        right: 0;
        /* width: 100vw; */
        /* height: 100vh; */
        top: 7rem; /*højde på burger knappen*/
        /* background-color: #504994; */
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }


    .nav-links li {
        opacity: 0;
    }

    .burger-lines {
        display: block;
    }
}

.nav-active {
    transform: translate(0%);

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px)
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* --------------------------------------------------------- */

.location-Heading {
    color: var(--bgHeading);
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.city-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    color: var(--hvid);
    padding: 10px 10px 0 10px;
}

.threedays {
    display: flex;
    flex-direction: row;
}

.threedays p {
    margin: auto;
}

.last-visit {
    background-color: var(--lillaFokus);
    border-radius: 10px;
    margin: 1em 0 1em 0;
    padding: 10px;
    color: var(--hvid);
}