.loadingIconClass {
    width: 10%;
    margin: auto;
    animation: rotates 10s;
    animation-iteration-count: infinite;
  }
  @keyframes rotates{
    0%{
        rotate: 0deg;
    }
   
    100%{
        rotate:2000deg; 
    }
  }